%navbar.navbar-fixed-top
  %h1.navbar-link.pull-left
    = link_to "Dinner Dash", home_path
  %h1.navbar-link.pull-right
    %ul(class= "nav navbar-nav")
      - if current_user.nil?
        %li
          = form_tag :sessions, class: 'navbar-form navbar-left', role: 'search' do
            %div.form-group
              = label_tag :email, nil, class: 'control-label'
              = email_field_tag :email, nil, placeholder: 'email address', class: 'form-control'
              = label_tag :password, nil, class: 'control-label'
              = password_field_tag :password, nil, placeholder: 'password', class: 'form-control'
              = submit_tag "Sign in"
      - else
        %li
          %a Welcome, #{current_user.email}
