%article.item_category
  %header
    %h3= link_to "Appeitzers"
  .items.row
    - 6.times do
      .item.col-sm-2
        = link_to "", nil do
          %img(src= )

%article.item_category
  %header
    %h3= link_to "Savory"
  .items.row
    - 6.times do
      .item.col-sm-2
        %img(src= )

%article.item_category
  %header
    %h3= link_to "Sweets"
  .items.row
    - 6.times do
      .item.col-sm-2
        %img(src= )

%article.item_category
  %header
    %h3= link_to "Beverages"
  .items.row
    - 6.times do
      .item.col-sm-2
        %img(src= )

%article.item_category
  %header
    %h3= link_to "Sides"
  .items.row
    - 6.times do
      .item.col-sm-2
        %img(src= )


