%article.item_category
  %h1
    Menu
  %header
    %h3= link_to "Appeitzers"
  .items.row
    - 5.times do
      .item.col-sm-2.thumbnail
        = link_to "", nil do
          %img(src="https://placeholdit.imgix.net/~text?txtsize=28&txt=300×200&w=300&h=200")
          %h5= link_to "Hummus & Pita"
%article.item_category
  %header
    %h3= link_to "Savory"
  .items.row
    - 5.times do
      .item.col-sm-2.thumbnail
        = link_to "", nil do
          %img(src="https://placeholdit.imgix.net/~text?txtsize=28&txt=300×200&w=300&h=200")
          %h5= link_to "Black Bean Burger"

%article.item_category
  %header
    %h3= link_to "Sweets"
  .items.row
    - 5.times do
      .item.col-sm-2.thumbnail
        = link_to "", nil do
          %img(src="https://placeholdit.imgix.net/~text?txtsize=28&txt=300×200&w=300&h=200")
          %h5= link_to "Red Velvet Cupcake"

%article.item_category
  %header
    %h3= link_to "Beverages"
  .items.row
    - 5.times do
      .item.col-sm-2.thumbnail
        = link_to "", nil do
          %img(src="https://placeholdit.imgix.net/~text?txtsize=28&txt=300×200&w=300&h=200")
          %h5= link_to "Raspberry Lemonade"


%article.item_category
  %header
    %h3= link_to "Sides"
  .items.row
    - 5.times do
      .item.col-sm-2.thumbnail
        = link_to "", nil do
          %img(src="https://placeholdit.imgix.net/~text?txtsize=28&txt=300×200&w=300&h=200")
          %h5= link_to "Edamame"



